.navcontainer{
    background-color: #020381;
    height: 50px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navcontainer > img{
    height: 30px;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid white;
    color: white;
}
.navcontainer > div{
    display: flex;
}
.links > span{
    font-size: 12px;
}
a.links{
    text-decoration: none;
}
.active{
    background-color: #800080;
}
.banner{
    padding: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    text-align: center;
}
.banner > div{
    font-size: 1.8em;
}
.banner > div > span{
    font-size: 2.2em;
    font-weight: bold;
}
.banner p{
    font-size: large;
}
.card{
    padding: 10px;
    background-color: #003366;
    border-bottom: 20px solid white;
}
.cardflex, .cardflex2{
    padding: 20px 120px;
    background-color: #002635;
    border-bottom: 20px solid white;
    display: flex;
    flex-wrap: wrap;
}
.cardflex2{
    padding: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    padding: 1px 8px;
    border-radius: 3px;
    margin-right: 2px;
    background-color: #800080;
    color: #800080;
}
.title h1{
    color: white;
    display: inline;
}
.title > div{
    display: flex;
    flex-wrap: wrap;
}
.howcard{
    width: 200px;
    height: 180px;
    padding: 40px 10px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
}
.howcard .fa{
    font-size: 2em;
    border-radius: 3px;
}
.howcard > h5{
    mask-border: 0px;
    text-transform: capitalize;
}
.howcard > p{
    font-size: 13px;
    margin-top: 0px;
}
.joinLink{
    padding: 10px;
    border-radius: 15px;
    border: 2px solid white;
    background-color: #020381;
    color: white;
    text-decoration: none;
    opacity: 0.8;
    align-self: flex-end;
    margin-right: 20px;
    transition: 300ms;
}
.joinLink:hover{
    opacity: 1;
}
.orgcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    color: white;
}
.white{
    color: white;
}
.orgcard > div{
    position: relative;
    width: 250px;
    border-radius: 20px;
    border: 5px solid white;
    padding: 30px 10px;
    background-position: top;
    text-align: center;
    margin: 10px;
}
.orgcard > div > img{
    position: relative;
    width: 100px;
    border-radius: 50%;
    border: 5px solid white;
    margin-right: 0px;
}
.orgcard > div > p{
    font-size: 12px;
}
.orgcard .orgdoing{
    padding: 5px 10px;
    position: absolute;
    right: 5px;
    top: 32%;
    color: white;
    background-color: blue;
    border-radius: 8px;
    font-size: 10px;
}
.benefitcard{
    width: 150px;
    height: 220px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    padding: 5px 10px;
    margin: 10px;
}
.benefitcard > div{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 2px;
    height: 30px;
    width: 101%;
    position: relative;
    left: -20px;
}
.benefitcard > img{
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
}
.benefitcard h5{
    color: white;
    margin-left: 5px;
    font-size: 12px;
}
.celebritycard{
    width: 160px;
    height: 160px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: #29333d;
    padding: 20px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.celebritycard img{
    border-radius: 20px;
    width: 50%;
    margin-top: 10px;
}
.celebritycard h5{
    color: white;
    margin-bottom: 2px;
}
.celebritycard span{
    padding: 5px;
    border-radius: 30px;
    color: white;
    font-size: 10px;
    background-color: #151a1f;
}
.feathuredcard{
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feathuredcard img{
    width: 60%;
    border-radius: 50%;
}
.feathuredcard h5{
    margin-top: 8px;
    margin-bottom: 8px;
    color: #003366;
    font-weight: bold;
}
.feathuredcard a{
    font-size: 12px;
    border-radius: 20px;
    color: white;
    background-color: #5e6369;
    padding: 3px 5px;
    text-decoration: none;
}
.community{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #ccc;
    border-radius: 5px;
    border-bottom: 10px solid white;
}
.community > img{
    width: 50%;
}
.community .similar{
    width: 45%;
    background-position: center;
    background-size: contain;
    padding: 50px;
    padding-top: 100px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
}
.similar h1 span{
    color: #800080;
}
.similar a{
    color: white;
    background-color: #003366;
    border-radius: 10px;
    padding: 6px 10px;
    text-decoration: none;
    font-weight: bold;
}
.title .subtitle{
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
}
.title i{
    color:darkgoldenrod;
    font-size: 40px;
}
.groupcard{
    border-radius: 4px;
    width: 320px;
    height: 118px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
}
.groupcard > img{
    width: 40%;
    border-radius: 4px;
    margin-right: 10px;
}
.groupcard > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.groupcard > div > h3{
    color: #003366;
    margin-bottom: 5px;
}
.groupcard > div > span{
    color: #ccc;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}
.groupcard > div > span > i{
    color: white;
    font-size: 13px;
    background-color: #ccc;
    padding: 1px 5px;
    margin-right: 5px;
    border-radius: 50%;
}
.groupcard > div > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    color: #ccc;
    font-size: 12px;
    font-weight: bold;
}
.groupcard > div > div > div > a{
    color: #003366;
    text-decoration: none;
}
.groupcard > div > div > img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.groupcard > div > div {
    display: flex;
    align-items: center;
}
.cardflex > img{
    width: 50%;
}
.cardflex2 > img{
    width: 50%;
}
.side2{
    width: 50%;
}
.side2 h1{
    color: white;
}
.side2 > img{
    width: 100%;
}


@media screen and (max-width: 700px) {
    .title > div{
        justify-content: center;
    }
    .community .similar{
        width: 100%;
    }
    .community > img{
        width: 100%;
    }
    .cardflex, .cardflex2{
        padding: 20px;
    }
}

@media screen and (max-width: 540px) {
    .navcontainer > img{
        height: 25px;
    }
    .title > div{
        justify-content: center;
    }
    .links{
        padding: 2px;
    }
    .links > span{
        font-size: 9px;
    }
    .banner > div > span{
        font-size: 1.7em;
    }
    .joinLink{
        align-self: center;
        margin-right: 0;
    }
    .howcard{
        width: 300px;
        height: 200px;
    }
    .benefitcard{
        width: 300px;
        height: 360px;
    }
    .celebritycard{
        width: 300px;
        height: 300px;
        justify-content: space-around;
    }
    .feathuredcard{
        width: 300px;
        height: 300px;
        justify-content: space-around;
    }
    .cardflex > img{
        width: 100%;
    }
    .cardflex2 > img{
        width: 100%;
    }
    .side2{
        width: 100%;
    }
    .side2 h1{
        color: white;
        font-size: 1.5em;
        text-align: center;
    }
    
    
}